.active-button {
  @apply py-4 px-8 flex justify-center items-center gap-3 rounded-2xl text-xl font-bold text-white bg-custom-primary transition-colors duration-200;
}

.active-button:hover {
  @apply bg-custom-primary/80;
}

.disabled-button {
  color: rgba(22, 23, 24, 0.3);
  pointer-events: none;
  background-color: rgba(22, 23, 24, 0.06);
}
