.services-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  @apply mt-8 md:mt-16;
}

.services-header {
  margin-bottom: 24px;

  @apply text-custom-secondary-dark;
}

.services-item-box {
  overflow: hidden;
  border-radius: 16px;
}

.services-item-wrap {
  display: flex;
  gap: 4px;

  background: #f9f9f9;

  @apply flex-col md:flex-row p-4 sm:p-6;
}

.services-item-wrap:not(:last-child) {
  border-bottom: 1px solid #f3f3f3;
}

.services-item {
  display: flex;
  width: 100%;
  justify-content: space-between;

  @apply text-custom-secondary-dark gap-3 sm:gap-6 items-start sm:items-center;
}

.services-item:hover label {
  opacity: 0.8;
}

.services-item:hover .service-checkbox {
  @apply border-custom-primary;
}

.services-item-price {
  @apply flex-none md:w-[190px] text-left md:text-right ml-[38px] md:ml-0 mt-4 md:mt-0 text-custom-secondary-dark;
}

.service-checkbox {
  appearance: none;
  border-radius: 4px;
  border: 2px solid #d0d5dd;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.1s ease;
  cursor: pointer;

  @apply w-6 sm:w-8 h-6 sm:h-8 mt-1 sm:mt-0;
}

.service-checkbox:checked {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' fill='none' viewBox='0 0 25 24'%3E%3Cpath stroke='%23297378' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m20.709 6-11 11-5-5'/%3E%3C/svg%3E");

  @apply border-custom-primary;
}
