.services-container {
  @apply flex flex-col items-stretch mt-8 md:mt-16;
}

.services-header {
  @apply mb-6 text-custom-secondary-dark;
}

.services-item-box {
  @apply rounded-2xl overflow-hidden;
}

.services-item-wrap {
  background: #f9f9f9;

  @apply flex flex-col md:flex-row gap-1 p-4 sm:p-6;
}

.services-item-wrap:not(:last-child) {
  border-bottom: 1px solid #f3f3f3;
}

.services-item {
  @apply flex justify-between w-full text-custom-secondary-dark gap-3 sm:gap-6 items-start sm:items-center;
}

.services-item:hover label {
  opacity: 0.8;
}

.services-item:hover .service-checkbox {
  @apply border-custom-primary;
}

.services-item-price {
  @apply md:w-[190px] ml-[38px] md:ml-0 flex-none text-left md:text-right mt-4 md:mt-0 text-custom-secondary-dark;
}

.service-checkbox {
  @apply border-[#d0d5dd] w-6 sm:w-8 h-6 sm:h-8 mt-1 sm:mt-0 cursor-pointer rounded transition-all duration-100 bg-center bg-no-repeat bg-contain appearance-none border-2;
}

.service-checkbox:checked {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' fill='none' viewBox='0 0 25 24'%3E%3Cpath stroke='%23297378' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m20.709 6-11 11-5-5'/%3E%3C/svg%3E");

  @apply border-custom-primary;
}
